<div class="cheat-sheet-component">
    <h1>Cheat Sheet</h1>
    <br/>
    <p>Simple page for displaying common elements used throughout the website.</p>
    <br/>
    <br/>


    <h2>Colors</h2>

    <div class="colors">
        <div>
            <div class="color-main-darker"><span>color-main-darker</span><button (click)="copyToClipboard('@color-main-darker')">Copy</button></div>
            <div class="color-main"><span>color-main</span><button (click)="copyToClipboard('@color-main')">Copy</button></div>
            <div class="color-main-lighter"><span>color-main-lighter</span><button (click)="copyToClipboard('@color-main-lighter')">Copy</button></div>
            <div class="color-main-lighter-2"><span>color-main-lighter-2</span><button (click)="copyToClipboard('@color-main-lighter-2')">Copy</button></div>
        </div>
        <div>
            <div class="color-secondary-darker"><span>color-secondary-darker</span><button (click)="copyToClipboard('@color-secondary-darker')">Copy</button></div>
            <div class="color-secondary"><span>color-secondary</span><button (click)="copyToClipboard('@color-secondary')">Copy</button></div>
            <div class="color-secondary-lighter"><span>color-secondary-lighter</span><button (click)="copyToClipboard('@color-secondary-lighter')">Copy</button></div>
        </div>
        <div>
            <div class="color-text-main-darker"><span>color-text-main-darker</span><button (click)="copyToClipboard('@color-text-main-darker')">Copy</button></div>
            <div class="color-text-main"><span>color-text-main</span><button (click)="copyToClipboard('@color-text-main')">Copy</button></div>
            <div class="color-text-main-lighter"><span>color-text-main-lighter</span><button (click)="copyToClipboard('@color-text-main-lighter')">Copy</button></div>
        </div>
        <div>
            <div class="color-text-secondary-darker"><span>color-text-secondary-darker</span><button (click)="copyToClipboard('@color-text-secondary-darker')">Copy</button></div>
            <div class="color-text-secondary"><span>color-text-secondary</span><button (click)="copyToClipboard('@color-text-secondary')">Copy</button></div>
            <div class="color-text-secondary-lighter"><span>color-text-secondary-lighter</span><button (click)="copyToClipboard('@color-text-secondary-lighter')">Copy</button></div>
        </div>
        <div>
            <div class="color-white-darker"><span>color-white-darker</span><button (click)="copyToClipboard('@color-white-darker')">Copy</button></div>
            <div class="color-white"><span>color-white</span><button (click)="copyToClipboard('@color-white')">Copy</button></div>
            <div class="color-white-lighter"><span>color-white-lighter</span><button (click)="copyToClipboard('@color-white-lighter')">Copy</button></div>
        </div>
        <div>
            <div class="color-light-grey-darker"><span>color-light-grey-darker</span><button (click)="copyToClipboard('@color-light-grey-darker')">Copy</button></div>
            <div class="color-light-grey"><span>color-light-grey</span><button (click)="copyToClipboard('@color-light-grey')">Copy</button></div>
            <div class="color-light-grey-lighter"><span>color-light-grey-lighter</span><button (click)="copyToClipboard('@color-light-grey-lighter')">Copy</button></div>
        </div>
        <div>
            <div class="color-dark-grey-darker"><span>color-dark-grey-darker</span><button (click)="copyToClipboard('@color-dark-grey-darker')">Copy</button></div>
            <div class="color-dark-grey"><span>color-dark-grey</span><button (click)="copyToClipboard('@color-dark-grey')">Copy</button></div>
            <div class="color-dark-grey-lighter"><span>color-dark-grey-lighter</span><button (click)="copyToClipboard('@color-dark-grey-lighter')">Copy</button></div>
        </div>
        <div>
            <div class="color-black-darker"><span>color-black-darker</span><button (click)="copyToClipboard('@color-black-darker')">Copy</button></div>
            <div class="color-black"><span>color-black</span><button (click)="copyToClipboard('@color-black')">Copy</button></div>
            <div class="color-black-lighter"><span>color-black-lighter</span><button (click)="copyToClipboard('@color-black-lighter')">Copy</button></div>
        </div>
    </div>


</div>