<div class="cheat-sheet-component">
    <h1>Cheat Sheet</h1>
    <br/>
    <p>Simple page for displaying common elements used throughout the website.</p>
    <br/>
    <br/>


    <h2>Colors</h2>

    <div class="colors">
        <div *ngFor="let colors_set of colors">
            <div *ngFor="let color of colors_set" [ngClass]="color">
                <span>{{ color }}</span>
                <button (click)="copyToClipboard('@' + color)">Copy</button>
            </div>
        </div>
    </div>
</div>