<div class="recipe-card-component">
    <div class="recipe-card-image">
        <img src="assets/images/test-image.jpg">
    </div>

    <div class="recipe-card-info">
        <div class="recipe-card-top">
            <div class="recipe-card-title">
                Title
            </div>
            <div class="recipe-card-category">
                <div class="recipe-card-stats __mobile-only">
                    Stats mobile
                </div>
                Category
            </div>
        </div>

        <div class="recipe-card-middle">
            <div class="recipe-card-description">
                Description
            </div>
            <div class="recipe-card-stats __desktop-only">
                Stats
            </div>
        </div>

        <div class="recipe-card-bottom">
            <div class="recipe-card-popularity">
                Popularity
            </div>
            <div class="recipe-card-see-recipe">
                See Recipe
            </div>
        </div>
    </div>
</div>