<div class="recipe-card-component">
    <div class="recipe-card-image">
        <img src="assets/images/test-image.jpg">
    </div>

    <div class="recipe-card-info">
        <div class="recipe-card-top">
            <div class="recipe-card-title">
                <h2>Ciorba de fasole galbena</h2>
                <h5>Postat de: <strong>Anca E Voicu</strong></h5>
            </div>

            <div class="recipe-card-category">
                <div class="recipe-card-stats __mobile-only">
                    <span>Timp: <strong>45 min</strong></span>
                    <span>Dificultate: <strong>Medie</strong></span>
                </div>

                <span>
                    <svg-icon src="assets/icons/bookmark-regular.svg"></svg-icon>
                    Borsuri si Ciorbe
                </span>
            </div>
        </div>

        <div class="recipe-card-middle">
            <p class="recipe-card-description">
                Description blah blah Description
                 aaAAsdfkjhsdfj dsfn jsdbkf 
                  Description aaAAsdfkjhsdfj 
                  dsfn jsdbkf Description aaA
                  Asdfkjhsdfj dsfn jsdbkf Desc
                  ription aaAAsdf
                  kjhsdfj dsfn jsdbkf<br/>
                Description aaAAsdfkjhsdfj dsfn jsdbkf <br/>
                sdkfsdufskdfhg <br/>
                sdkfsdufskdfhg <br/>
                sdkfsdufskdfhg <br/>
                sdkfsdufskdfhg <br/>
                sfisdfh usdbf judsb fjksdbf
            </p>

            <div class="recipe-card-stats __desktop-only">
                <span>Timp: <strong>45 min</strong></span>
                <span>Dificultate: <strong>Medie</strong></span>
            </div>
        </div>

        <div class="recipe-card-bottom">
            <div class="recipe-card-popularity">
                <div class="recipe-card-stars">
                    <svg-icon src="assets/icons/star-solid.svg"></svg-icon>
                    <svg-icon src="assets/icons/star-solid.svg"></svg-icon>
                    <svg-icon src="assets/icons/star-solid.svg"></svg-icon>
                    <svg-icon src="assets/icons/star-solid.svg"></svg-icon>
                    <svg-icon src="assets/icons/star-regular.svg"></svg-icon>
                </div>

                <div class="recipe-card-votes">
                    15 voturi
                </div>

                <div class="recipe-card-comments">
                    5 comentarii
                </div>
            </div>

            <div class="recipe-card-see-recipe">
                <button>
                    See Recipe
                </button>
            </div>
        </div>
    </div>
</div>