<div class="admin-component">
    <div class="admin-nav">
        <nav>
            <ul>
                <li><a routerLink="/admin" routerLinkActive="active">Admin Home</a></li>
                <li><a routerLink="/admin/login" routerLinkActive="active">Admin Login</a></li>
                <li><a routerLink="/admin/users" routerLinkActive="active">Admin Users</a></li>
                <li><a routerLink="/admin/recipes" routerLinkActive="active">Admin Recipes</a></li>
                <li><a routerLink="/" routerLinkActive="active">Main</a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="admin-page">
        <div class="admin-page-wrapper">
            <router-outlet></router-outlet>
        </div>

        <div class="admin-footer">
            <footer>
                Copyright ArteneR 2020
            </footer>
        </div>
    </div>
</div>
