<div class="admin-component">
    <div class="admin-nav">
        <nav id="admin-nav-menu">
            <label for="admin-nav-menu-toggle" id="admin-nav-menu-button">&#9776;</label>
            <input type="checkbox" id="admin-nav-menu-toggle"/>

            <ul id="admin-nav-menu-items">
                <li><a routerLink="/admin"         [ngClass]="{'active-page': true}"  routerLinkActive="active">Admin Home</a></li>
                <li><a routerLink="/admin/login"   [ngClass]="{'active-page': false}" routerLinkActive="active">Admin Login</a></li>
                <li><a routerLink="/admin/users"   [ngClass]="{'active-page': false}" routerLinkActive="active">Admin Users</a></li>
                <li><a routerLink="/admin/recipes" [ngClass]="{'active-page': false}" routerLinkActive="active">Admin Recipes</a></li>
                <li><a routerLink="/"              [ngClass]="{'active-page': false}" routerLinkActive="active">Main</a></li>
                <li><a (click)="logout()"          [ngClass]="{'active-page': false}">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="admin-page">
        <div class="admin-page-wrapper">
            <router-outlet></router-outlet>
        </div>

        <div class="admin-footer">
            <footer [innerHtml]=copyrightText></footer>
        </div>
    </div>
</div>
