<div class="admin-nav">
    <div id="admin-nav-logo">
        <img src="assets/images/food-plate.png">    
    </div>

    <nav id="admin-nav-menu">
        <label for="admin-nav-menu-toggle" id="admin-nav-menu-button">&#9776;</label>
        <input type="checkbox" id="admin-nav-menu-toggle" [checked]="isAdminNavMenuOpened" (change)="toggleAdminNavMenu()" />

        <ul id="admin-nav-menu-items">
            <li><a [ngClass]="{'active-page': true}"  (click)="toggleAdminNavMenu()" routerLinkActive="active" routerLink="/admin">Admin Home</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleAdminNavMenu()" routerLinkActive="active" routerLink="/admin/login">Admin Login</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleAdminNavMenu()" routerLinkActive="active" routerLink="/admin/users">Admin Users</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleAdminNavMenu()" routerLinkActive="active" routerLink="/admin/recipes">Admin Recipes</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleAdminNavMenu()" routerLinkActive="active" routerLink="/">Main</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleAdminNavMenu() && logout2()">Logout</a></li>
        </ul>
    </nav>
</div>