<div class="admin-nav">
    <div id="admin-nav-logo">
        <img src="assets/images/food-plate.png">    
    </div>

    <nav id="admin-nav-menu">
        <label for="admin-nav-menu-toggle" id="admin-nav-menu-button">&#9776;</label>
        <input type="checkbox" id="admin-nav-menu-toggle"/>

        <ul id="admin-nav-menu-items">
            <li><a routerLink="/admin"         [ngClass]="{'active-page': true}"  routerLinkActive="active">Admin Home</a></li>
            <li><a routerLink="/admin/login"   [ngClass]="{'active-page': false}" routerLinkActive="active">Admin Login</a></li>
            <li><a routerLink="/admin/users"   [ngClass]="{'active-page': false}" routerLinkActive="active">Admin Users</a></li>
            <li><a routerLink="/admin/recipes" [ngClass]="{'active-page': false}" routerLinkActive="active">Admin Recipes</a></li>
            <li><a routerLink="/"              [ngClass]="{'active-page': false}" routerLinkActive="active">Main</a></li>
            <li><a (click)="logout2()"          [ngClass]="{'active-page': false}">Logout</a></li>
        </ul>
    </nav>
</div>