@import "variables";


@media all and (max-width: @screen-size-mobile-max-width) {
    .main-nav {
        #main-nav-menu {
            background: fade(@color-main, 80%);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;

            #header-title-mobile {
                display: inline-block;
                position: absolute;
                top: 5px;
                left: 20px;
                margin-right: 50px;

                h1 {
                    color: @color-text-secondary;
                }
            }

            #main-nav-menu-button { 
                display: inline-block; 
                color: @color-text-secondary;
                font-style: normal;
                font-size: 1.4em;
                padding: 15px;
                cursor: pointer;

                &:hover {
                    color: @color-text-secondary-lighter;
                }
            }

            #main-nav-menu-toggle:checked ~ #main-nav-menu-items { 
                display: block; 
                background: fade(@color-main, 82%); 
            }

            #main-nav-menu-items {
                display: none; 
                width: 100%;

                li {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    border-top: 1px solid @color-main-lighter-2;
                    padding: 0px 0px 0px 20px !important;
    
                    &:hover {
                        background: fade(@color-secondary, 20%);
    
                        a {
                            border-bottom-width: 0px !important;
                            padding-bottom: 20px !important;
                        }
                    }
    
                    a {
                        display: block;
                        font-size: 1.2em !important;
                        padding: 20px;
                        color: @color-text-secondary;
                    }
                }
            }
        }
    }
}