<div class="main-nav">
    <nav id="main-nav-menu">
        <div id="header-title-mobile">
            <h1>Cartea de Bucate</h1>
        </div>

        <label for="main-nav-menu-toggle" id="main-nav-menu-button">&#9776;</label>
        <input type="checkbox" id="main-nav-menu-toggle" [checked]="isMainNavMenuOpened" (change)="toggleMainNavMenu()" />

        <ul id="main-nav-menu-items">
            <li><a [ngClass]="{'active-page': false}" (click)="toggleMainNavMenu()" routerLinkActive="active" routerLink="/">Home</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleMainNavMenu()" routerLinkActive="active" routerLink="/login">Login</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleMainNavMenu()" routerLinkActive="active" routerLink="/contact">Contact</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleMainNavMenu()" routerLinkActive="active" routerLink="/recipes">Recipes</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="toggleMainNavMenu()" routerLinkActive="active" routerLink="/admin">Admin</a></li>
            <li><a [ngClass]="{'active-page': false}" (click)="logout2()">Logout</a></li>
        </ul>
    </nav>
</div>