<div class="recipe-preview-component">
    <section-title title="{{ recipe?.title }}"></section-title>

    <div class="recipe-date-and-add-to-favorite">
        <div class="recipe-date">
            <label>Reteta postata pe: </label><span>{{ recipe?.createdAt | date }}</span>
        </div>

        <div class="recipe-add-to-favorite secondary-theme">
            <button mat-stroked-button color="primary">Adauga la Favorite</button>
        </div>
    </div>

    <div class="recipe-author-stats-images">
        <div class="recipe-author-and-stats">
            <div class="recipe-author">
                <span>Postata de</span>
                <img id="page-wrapper-corner-food-plate" src="assets/images/user-image-placeholder.jpg">
                <span>{{ recipe?.author }}</span>
            </div>

            <div class="recipe-stats">
                <div class="recipe-stat">
                    <div class="recipe-stat-icon">
                        <svg-icon src="assets/icons/tachometer-alt-solid.svg"></svg-icon>
                    </div>
                    <div class="recipe-stat-details">
                        <label>Dificultate</label>
                        <span>{{ recipe?.difficulty }}</span>
                    </div>
                </div>

                <div class="recipe-stat">
                    <div class="recipe-stat-icon">
                        <svg-icon src="assets/icons/clock-solid.svg"></svg-icon>
                    </div>
                    <div class="recipe-stat-details">
                        <label>Timp</label>
                        <span>{{ recipe?.time }}</span>
                    </div>
                </div>

                <div class="recipe-stat">
                    <div class="recipe-stat-icon">
                        <svg-icon src="assets/icons/utensils-solid.svg"></svg-icon>
                    </div>
                    <div class="recipe-stat-details">
                        <label>Portii</label>
                        <span>{{ recipe?.portions }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="recipe-images">
            <div class="recipe-image-cover">
                <img id="page-wrapper-corner-food-plate" src="assets/images/recipes/{{ recipe?.id }}/{{ recipe?.cover_image }}" default>
            </div>            

            <div class="recipe-other-images">
                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/recipes/1/pui-marinat-cu-sos-de-rosii-cu-iaurt.jpg" default>
                </div>            

                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/recipes/2/tocanita-de-vita-cu-legume-la-cuptor-8237.jpg" default>
                </div>

                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/recipes/3/muschiulet-de-vita-cu-salsa-de-porumb-si-cartofi-dulci.jpg" default>
                </div>

                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/recipes/4/muschiulet-marinat-la-gratar-cu-spanac.jpg" default>
                </div>
            </div>
        </div>
    </div>

    <div class="recipe-vote-and-share">
        <div class="recipe-popularity">
            <div class="recipe-stars">
                {{ recipe?.rating }} stars
            </div>

            <div class="recipe-votes-comments-views">
                <label>{{ recipe?.votes || 0 }} {{ (recipe?.votes == 1) ? 'vot' : 'voturi' }}</label>
                <label>{{ recipe?.comments || 0 }} {{ (recipe?.comments == 1) ? 'comentariu' : 'comentarii' }}</label>
                <label>{{ recipe?.views || 0 }} {{ (recipe?.views == 1) ? 'vizualizare' : 'vizualizari' }}</label>
            </div>
        </div>

        <social-media-share></social-media-share>
    </div>
</div>
