<div class="recipe-preview-component">
    <section-title title="Ciorba de fasole galbena"></section-title>

    <div class="recipe-date-and-add-to-favorite">
        <div class="recipe-date">
            <label>Reteta postata pe: </label><span>31-03-2020</span>
        </div>

        <div class="recipe-add-to-favorite secondary-theme">
            <button mat-stroked-button color="primary">Adauga la Favorite</button>
        </div>
    </div>

    <div class="recipe-author-stats-images">
        <div class="recipe-author-and-stats">
            <div class="recipe-author">
                <span>Postata de</span>
                <img id="page-wrapper-corner-food-plate" src="assets/images/user-image-placeholder.jpg">
                <span>Maria Popescu</span>
            </div>

            <div class="recipe-stats">
                <div class="recipe-stat">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
                    <div class="recipe-stat-details">
                        <label>Dificultate</label>
                        <span>Medie</span>
                    </div>
                </div>

                <div class="recipe-stat">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
                    <div class="recipe-stat-details">
                        <label>Timp</label>
                        <span>45 min</span>
                    </div>
                </div>

                <div class="recipe-stat">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
                    <div class="recipe-stat-details">
                        <label>Portii</label>
                        <span>4-5</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="recipe-images">
            <div class="recipe-image-cover">
                <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
            </div>            

            <div class="recipe-other-images">
                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
                </div>            

                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
                </div>

                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
                </div>

                <div class="recipe-image">
                    <img id="page-wrapper-corner-food-plate" src="assets/images/image-placeholder.png">
                </div>
            </div>
        </div>
    </div>

    <div class="recipe-vote-and-share">
        <div class="recipe-popularity">
            <div class="recipe-stars">
                stars
            </div>

            <div class="recipe-votes-comments-views">
                <label>15 voturi</label>
                <label>8 comentarii</label>
                <label>145 vizualizari</label>
            </div>
        </div>

        <div class="recipe-share">
            <div class="recipe-share-button"></div>
            <div class="recipe-share-button"></div>
            <div class="recipe-share-button"></div>
            <div class="recipe-share-button"></div>
            <div class="recipe-share-button"></div>
        </div>
    </div>
</div>
