/* You can add global styles to this file, and also import other style files */

@import 'variables.less';


html {
    height: 100%;
    background-color: @color-main;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.page-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: #FFFFFF;
    font-size: 1.4em;
}




.__mobile-only {
    display: initial;
}

.__desktop-only {
    display: initial;
}


@media all and (max-width: @screen-size-mobile-max-width) {
    .__desktop-only {
        display: none;
    }
}


@media all and (min-width: @screen-size-mobile-max-width) {
    .__mobile-only {
        display: none;
    }
}