/* You can define less variables here */


/* Colors */

@color-main:           #1A3A4B;
@color-main-darker:    darken(@color-main, 5%);
@color-main-lighter:   lighten(@color-main, 5%);
@color-main-lighter-2: lighten(@color-main, 10%);

@color-secondary:         #237BA0;
@color-secondary-darker:  darken(@color-secondary, 5%);
@color-secondary-lighter: lighten(@color-secondary, 5%);



@color-text-main:         #193342;
@color-text-main-darker:  darken(@color-text-main, 5%);
@color-text-main-lighter: lighten(@color-text-main, 5%);

@color-text-grey:         #4F4F4F;
@color-text-grey-darker:  darken(@color-text-grey, 5%);
@color-text-grey-lighter: lighten(@color-text-grey, 5%);

@color-text-secondary:         #F5F5F5;
@color-text-secondary-darker:  darken(@color-text-secondary, 5%);
@color-text-secondary-lighter: lighten(@color-text-secondary, 5%);



@color-white:         #FAFAFA;
@color-white-darker:  darken(@color-white, 5%);
@color-white-lighter: lighten(@color-white, 5%);

@color-light-grey:         #b4b4b4;
@color-light-grey-darker:  darken(@color-light-grey, 5%);
@color-light-grey-lighter: lighten(@color-light-grey, 5%);

@color-dark-grey:         #636363;
@color-dark-grey-darker:  darken(@color-dark-grey, 5%);
@color-dark-grey-lighter: lighten(@color-dark-grey, 5%);

@color-black:         #111111;
@color-black-darker:  darken(@color-black, 5%);
@color-black-lighter: lighten(@color-black, 5%);



@color-page-main:         #FAFAFA;
@color-page-main-darker:  darken(@color-page-main, 5%);
@color-page-main-lighter: lighten(@color-page-main, 5%);



@color-admin-main:           #212121;
@color-admin-main-darker:    darken(@color-admin-main, 2%);
@color-admin-main-lighter:   lighten(@color-admin-main, 2%);
@color-admin-main-lighter-2: lighten(@color-admin-main, 4%);
@color-admin-main-lighter-3: lighten(@color-admin-main, 5%);


@color-admin-text-main:         #F5F5F5;
@color-admin-text-main-darker:  darken(@color-admin-text-main, 5%);
@color-admin-text-main-lighter: lighten(@color-admin-text-main, 5%);



/* Sizes */

@screen-size-tablet-max-width: 1000px;
@screen-size-mobile-max-width: 600px;

@page-size-width: 1024px;


/* Font sizes */

@font-size-biggest: 2.4em;
@font-size-bigger:  2.0em;
@font-size-big:     1.5em;
@font-size-normal:  1em;
@font-size-small:   0.8em;
@font-size-smaller: 0.5em;