/* You can define less variables here */


@color-main:   #1A3A4B;
@color-main-2: #1C475D;

@color-admin-main:   #212121;
@color-admin-main-2: #2A2A2B;
@color-admin-main-3: #2F2F30;
@color-admin-main-4: #191919;

@screen-size-tablet-max-width: 1000px;
@screen-size-mobile-max-width: 600px;

@page-size-width: 1024px;