.recipe-vote-and-share-component {

    .recipe-vote-and-share {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .recipe-vote {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .recipe-share {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            width: 100%;

            social-media-share {
                margin-top: 20px;
                width: 80%;
            }
        }
    }
}