<div class="recipe-vote-and-share-component">
    <section-title title="Ti-a placut aceasta reteta?"></section-title>

    <div class="recipe-vote-and-share">
        <div class="recipe-vote">
            <label>Da-i un vot corespunzator!</label>

            <div class="recipe-stars">
                <svg-icon *ngFor="let star of totalStars; let i = index;" src="assets/icons/{{ (i < recipe?.rating) ? 'star-solid.svg' : 'star-regular.svg'}}"></svg-icon>
            </div>
        </div>

        <div class="recipe-share">
            <label>...si nu uita sa o impartasesti cu prietenii! ;)</label>
            <social-media-share></social-media-share>
        </div>
    </div>
</div>

