<div class="recipe-cooking-component">
    <section-title title="Sa incepem sa gatim!"></section-title>

    <div class="recipe-ingredients-and-preparation-method">
        <div class="recipe-ingredients">
            <h2>
                <svg-icon src="assets/icons/shopping-basket-solid.svg"></svg-icon> Ingrediente
            </h2>

            <table>
                <tbody>
                    <tr *ngFor="let ingredient of recipe?.ingredients | orderBy: 'order': 'asc'">
                        <td>{{ ingredient?.quantity }}</td>
                        <td>{{ ingredient?.ingredient }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="recipe-preparation-method">
            <h2>
                <svg-icon src="assets/icons/cogs-solid.svg"></svg-icon> Mod de preparare
            </h2>

            <table>
                <tbody>
                    <tr *ngFor="let direction of recipe?.preparation_method | orderBy: 'order': 'asc'">
                        <td>{{ direction?.order }}.</td>
                        <td>{{ direction?.direction }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="recipe-enjoy-your-meal">
        <div class="recipe-enjoy-your-meal-line"></div>
        <label>Pofta Buna!</label>
        <div class="recipe-enjoy-your-meal-line"></div>
    </div>
</div>

