<div class="recipe-cooking-component">
    <section-title title="Sa incepem sa gatim!"></section-title>

    <div class="recipe-ingredients-and-preparation-method">
        <div class="recipe-ingredients">
            <h2>
                <svg-icon src="assets/icons/shopping-basket-solid.svg"></svg-icon> Ingrediente
            </h2>
            
            <table>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ceapa galbena</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>morcov</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>ardei gras verde</td>
                    </tr>
                    <tr>
                        <td>2.5 l</td>
                        <td>apa</td>
                    </tr>
                    <tr>
                        <td>500 g</td>
                        <td>fasole galbena</td>
                    </tr>
                    <tr>
                        <td>500 ml</td>
                        <td>ceapa galbena</td>
                    </tr>
                    <tr>
                        <td>200 g</td>
                        <td>rosii cubulete la cutie sau dupa gust</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>leustean</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>marar</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="recipe-preparation-method">
            <h2>
                <svg-icon src="assets/icons/cogs-solid.svg"></svg-icon> Mod de preparare
            </h2>

            <table>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Se curăță și se spală legumele.</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Într-o oală cu capacitate de 3 l, se călesc în puțin ulei încins ceapa, ardeiul gras verde și cel roșu, acestea tocate mărunt și morcovul dat pe răzătoarea mare.</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Se adaugă sare și roșiile cubulețe, se umple cu apă și se lasă să fiarbă</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Când clocotește, se adaugă păstăile de fasole rupte sau tăiate bucățele și dovlecelul tăiat cubulețe. Când clocotește, se adaugă păstăile de fasole rupte sau tăiate bucățele și dovlecelul tăiat cubulețe. Când clocotește, se adaugă păstăile de fasole rupte sau tăiate bucățele și dovlecelul tăiat cubulețe.</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Când legumele sunt fierte, se acreste cu borș, după gust, eu pun de obicei cam 500 ml de borș la o oală de 3 l cu ciorbă</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Se ia focul și se adaugă verdețuri proaspete tocate mărunt.</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>Se servește cu ceapă roșie.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="recipe-enjoy-your-meal">
        <div class="recipe-enjoy-your-meal-line"></div>
        <label>Pofta Buna!</label>
        <div class="recipe-enjoy-your-meal-line"></div>
    </div>
</div>

