@import "variables";


@media all and (max-width: @screen-size-mobile-max-width) {
    .main-component {
        .main-header {
            #header-title {
                display: none;
            }
        }

        .main-page-wrapper {
            #add-recipe-button {
                width: 50px !important;
                height: 50px !important;
                padding: 0 !important;
                margin: 0 !important;
                border-radius: 50%;
                top: -60px;
                right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg-icon {
                    margin-right: 0;
                }

                span {
                    display: none;
                }
            }

            #page-wrapper-corner-food-plate {
                width: 250px;
                top: -80px;
                left: -30px;
            }
        }
    }
}