<div class="main-component">
    <app-main-nav></app-main-nav>

    <div class="main-header">
        <div id="header-title">
            <h1>Cartea de Bucate</h1>
        </div>
        <img src="assets/images/header.jpg">
        <div id="header-gradient-overlay"></div>
    </div>

    <div class="main-page-wrapper secondary-theme">
        <button mat-flat-button color="primary" id="add-recipe-button">
            <svg-icon src="assets/icons/plus-solid.svg"></svg-icon>
            <span>Adauga o Reteta</span>
        </button>
        <img id="page-wrapper-corner-food-plate" src="assets/images/food-plate.png">
        <breadcrumbs></breadcrumbs>
        <router-outlet></router-outlet>
    </div>

    <div class="main-footer">
        <footer [innerHTML]=copyrightText></footer>
    </div>
</div>