<div class="main-component">
    <div class="main-nav">
        <nav id="main-nav-menu">
            <div class="header-title-mobile-container">
                <h1>Retete.ro</h1>
            </div>

            <label for="main-nav-menu-toggle">&#9776;</label>
            <input type="checkbox" id="main-nav-menu-toggle"/>

            <ul id="main-nav-menu-items">
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
                <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="main-header">
        <div class="header-title-container">
            <h1>Retete.ro</h1>
        </div>
        <img src="assets/images/header.jpg">
        <div class="header-gradient-overlay"></div>
    </div>

    <div class="main-page-wrapper">
        <img class="page-wrapper-corner-food-plate" src="assets/images/food-plate.png">
        <router-outlet></router-outlet>
    </div>

    <div class="main-footer">
        <footer [innerHTML]=copyrightText></footer>
    </div>
</div>