.social-media-share-component {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .social-media-share-button {
        background-color: grey;
        width: 100%;
        margin: 10px;
        border-radius: 5px;
        padding: 5px 20px;
        text-align: center;
        white-space: nowrap;
        color: #FFFFFF;
    }
}