<div class="social-media-share-component">
    <div class="social-media-share-button facebook-like">
        <svg-icon src="assets/icons/thumbs-up-regular.svg"></svg-icon> Like 23
    </div>
    
    <div class="social-media-share-button facebook-share">
        <svg-icon src="assets/icons/facebook-brands.svg"></svg-icon> Share
    </div>

    <div class="social-media-share-button twitter">
        <svg-icon src="assets/icons/twitter-brands.svg"></svg-icon> Tweet
    </div>

    <div class="social-media-share-button email">
        <svg-icon src="assets/icons/envelope-regular.svg"></svg-icon> Email
    </div>

    <div class="social-media-share-button print">
        <svg-icon src="assets/icons/print-solid.svg"></svg-icon> Print
    </div>
</div>