@import "variables";


.breadcrumbs-component {
    display: flex;
    flex-direction: row;

    @color-breadcrumb-main: #EEEEEE;
    @color-breadcrumb-secondary: #E8E8E8;
    @color-breadcrumb-active: #56A7C9;
    @color-breadcrumb-accent: #237BA0;

    button {
        background-color: @color-breadcrumb-main;
        color: #888888;
        padding: 10px 28px;
        border: none;
        outline: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        &:hover {
            background-color: lighten(@color-breadcrumb-main, 2%);
        }
    }

    .breadcrumbs-back {
        margin-right: 20px;
        border-radius: 5px;
        background-color: @color-breadcrumb-accent;
        color: #FFFFFF;

        &:hover {
            background-color: lighten(@color-breadcrumb-accent, 2%);
        }

        svg-icon {
            margin-right: 5px;
        }
    }

    .breadcrumbs-path {
        border-radius: 5px;
        background-color: @color-breadcrumb-secondary;

        .breadcrumbs-home {
            background-color: @color-breadcrumb-secondary;
            color: @color-breadcrumb-accent;
            border-radius: 5px;
            font-size: 18px;

            &:hover {
                background-color: lighten(@color-breadcrumb-secondary, 2%);
            }
        }

        .breadcrumbs-location {
            background-color: @color-breadcrumb-main;
            position: relative;

            &:hover {
                background-color: lighten(@color-breadcrumb-main, 2%);

                .arrow-right {
                    border-left-color: lighten(@color-breadcrumb-main, 2%);;
                }
            }

            .arrow-right {
                position: absolute;
                width: 0; 
                height: 0; 
                border-top: 22px solid transparent;
                border-bottom: 22px solid transparent;
                top: 0;
                right: -10px;
                border-left: 10px solid @color-breadcrumb-main;
                z-index: 1000;
            }
            
            &:last-child {
                background-color: @color-breadcrumb-active;
                color: #FFFFFF;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                &:hover {
                    background-color: lighten(@color-breadcrumb-active, 2%);
                }

                .arrow-right {
                    display: none;
                }
            }
        }
    }
}